body{
  background-image: url(circuit.jpg);
  background-size: cover;
  background-attachment: fixed;
}

ul{
  margin-left: 33%;
}

nav {
  margin-right: 5px;
  margin-left: 25px;
}

div{
  border: 2px solid black;
  margin-top: 5%;
  margin-bottom: auto;
  margin-right: 35%;
  margin-left: 35%;
}

h1{
  text-align: center;
  color: red;
  margin-top: auto;
  margin-bottom: auto;
}

h2{
  text-align: center;
}

p{
  text-align: center;
}

.buttonC{
  background-color: red;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #000000;
  padding: 7px;
}

.button {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #000000;
  padding: 5px;
}
